/* Used section 5.6 in textbook as reference */

form {
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    text-align: center;
    border: 5px solid #aaa;
    font: 16px Arial;
}
.flashes {
    color: red;
    list-style-type: none;
    text-align: left;
}
input[type=text], input[type=password] {
    padding: 10px;
    border: 1px solid #aaa;

    border-radius: 4px;
}
label {
    width: 120px;
    display: inline-block;
    text-align: right;
    margin-right: 8px;
}
input[type=submit] {
    /* width: 150px; */
    background-color: #09f;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font: 20px Arial;
}
a {
    color: #09f;
    text-decoration: none;
}
.message {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    max-width: 600px;
    margin-top: 20px;
}
.display-name {
    font-weight: bold;
    font-family: Arial;
    font-size: 30px;
    margin: 0px;
    margin-left: 10px;
    width:max-content;
}
.username {
    margin-top: 5px;
    margin-left: 10px;
    color: #4a4a4a;
    font-family: Arial;
    width:max-content;
}
.message-header {
    display: flex;
    text-align: left;
    flex: 1;
}
.pfp {
    width: 60px;
    border: 3px solid #aaa;
    border-radius: 100%;
}
.message-body {
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font: 16px Arial;
}
.right {
    margin-left: auto;
}
.chatbody {
    width: 70%;
    margin: auto;
}
.send-div {
    margin: auto;
    width: 100%;
    padding: 0px 20px;
    display: flex;
}
.send-box {
    height: auto;
    flex: 1;
    margin-right: 10px;
}
.send-button {
    background-color: #09f;
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font: 20px Arial;
}
hr {
    border: 5px solid #aaa;
    border-radius: 5px;
}
.header {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    height: fit-content;
    background-color: white;
    padding: 0px 20px;
    display: flex;
    font: Arial bold 20px;
    background-color: #eee;
}
.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    background-color: white;
    padding: 0px 20px;
    padding-top: 0px;
}
.spacer {
    height: 100px;
}
h1 {
    font-family: Arial;
    margin-right: 20px;
    flex: 1;
}
.link-button {
    background-color: #09f;
    color: white;
    height: fit-content;
    display: flex;
    margin: auto;
    align-items: center;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 20px;
}
.back-button {
    background-color: #09f;
    color: white;
    padding: 15px;
    margin: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font: 20px Arial;
    align-content: left;
}
.time {
    text-align: right;
    margin-left: auto;
    font-family: Arial;
    font-size: 15px;
    color: #4a4a4a;
}
.title {
    text-align: center;
    font-size: 50px;
    margin: 20px 0px;
}
.description {
    background-color: #eee;
    max-width: 800px;
    font-family: Arial;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.bordered-image {
    border: 5px solid #aaa;
    border-radius: 5px;
}