<head>
    <title>Start Chatting</title>
    <link rel="stylesheet" href="/static/style.css">
    </style>
</head>
<body>
    <form method = "POST">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
        <h1>Start Chatting</h1>
        <p>
            <label>Room Name: </label>
            <input type="text" name="room" required/>
        </p>
        <p>
            <input type="submit" name="submit" value="Enter Chat!" required/>
        </p>
        <div class="message-header">
            <div>
                <img src="static/pfp/{{username}}.webp" class="pfp">
            </div>
            <div>
                <p class="display-name">
                    {{display_name}}
                </p>
                <p class="username">
                    @{{username}}
                </p>
            </div>
        </div>
        <p>Something not right? <a href="{{url_for('update')}}">Update your profile here</a></p>
</body>