<!DOCTYPE html>
<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="/static/style.css">
    </style>
</head>
<body>
    <form method = "POST">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
        <h1>Change Password</h1>
        <p>
            <label>Current Password: </label>
            <input type="password" name="password" required/>
        </p>
        <p>
            <label>New Password: </label>
            <input type="password" name="new-password" required/>
        </p>
        <p>
            <input type="submit" name="submit" value="Change Password" required/>
        </p>
        
        <p><a href="{{url_for('update')}}">Back to Update Profile</a></p>
</body>