<!DOCTYPE html>
<head>
    <title>Update Profile</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <form method = "POST" enctype="multipart/form-data">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
        <button onclick="window.history.back()" class="back-button">Go Back</button>
        <h1>Update Your Profile</h1>
        <p>
            <label for="displayname">Display Name: </label>
            <input type="text" name="displayname" required value="{{display_name}}"/>
        </p>
        <p>
            <label for="profile-picture">Profile Picture (optional): </label>
            <input type="file" name="profile-picture"/>
        </p>
        <p>
            <input type="submit" name="submit" value="Update your profile"/>
        </p>
        <p>Need to  <a href="{{url_for('change_password')}}">change your password</a>?</p>
    </form>
</body>